{% extends 'layouts/layout.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block content %}
<div class="fixMenu">
    <div class="content">
        <div class="container">
    <h1>Edit Client</h1>

    {{ include('client/_formEdit.html.twig', {'button_label': 'Update'}) }}

        </div>
    </div>
</div>
{% endblock %}