{% extends 'layouts/layout.html.twig' %}

{% block title %}New Voiture{% endblock %}

{% block content %}
<div class="fixMenu">
    <div class="content">
        <div class="container">
    <h1>Ajouter une Voiture</h1>

    {{ include('voiture/_form.html.twig') }}

            <button><a href="{{ path('voiture_index') }}">back to list</a></button>
        </div>
    </div>
</div>
{% endblock %}